<div class="page-header">
  <h1><%= @user.name.titleize %>'s Profile <small><%= @user.company %></small></h1>
</div>

<h3>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to "Title Search", new_buyer_path %></li>
      <li role="presentation"><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</h3>

<div class="col-md-9">
  <% @user.buyers.each do |buyer| %>
    <h3>Buyer: <%= link_to buyer.borrower, buyer_path(buyer) %> Seller: <%= buyer.current_owner %></h3><br />
  <% end %>
</div>
