<div class="page-header">
  <h1><%= @user.company %> <small><%= @user.name.titleize %>'s Profile</small></h1>
</div>

<h3>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to "New Buyer", new_buyer_path %></li>
      <li role="presentation"><%= link_to "Title Report", new_title_report_path %></li>
      <li role="presentation"><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</h3>

<div class="col-md-9">
  <% @user.buyers.each do |buyer| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Buyer: <%= link_to buyer.borrower, buyer_path(buyer) %></h3>
    </div>
    <div class="panel-body">
      <h4><%= buyer.property_address_number %> <%= buyer.property_address_street %> <%= buyer.property_address_type %></h4>
      <h4>Seller: <%= buyer.current_owner %></h4>
    </div>
    <br />
  </div>
  <% end %>
</div>
