<div class='nested-fields'>
  <%=  f.input :company_name %>
  <%=  f.input :email %>
  <%=  f.input :phone_number %>
  <%=  f.input :fax_number %>
  <%=  f.input :address %>
  <%=  f.input :main_contact %>
  <%=  link_to_remove_association "Remove Title Company", f %>
</div>
