<%= form_for @buyer do |f| %>
  <div class="form-group">
    <%= f.text_field :current_owner, class: "form-control", placeholder: "Current Owner" %>
  </div>
  <div class="form-group">
    <%= f.text_field :borrower, class: "form-control", placeholder: "Borrower" %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.number_field :property_address_number, class: "form-control", placeholder: "ex. 1234" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.text_field :property_address_street, class: "form-control", placeholder: "ex. Main" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.text_field :property_address_type, class: "form-control", placeholder: "ex. Street" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.text_field :property_address_city, class: "form-control", placeholder: "City" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.text_field :property_address_state, class: "form-control", placeholder: "State" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.number_field :property_address_zip, class: "form-control", placeholder: "Zip Code" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_field :county, class: "form-control", placeholder: "County" %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :purchase_price, class: "form-control", placeholder: "Purchase Price" %>
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
        <%= f.number_field :owners_coverage_amount, class: "form-control", placeholder: "Owner's Coverage Amount" %>
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type_owners_policy_requested, "Type of Owner's Policy Requested: " %>
    <%= f.select :type_owners_policy_requested, options_for_select(["Owner's Policy", "Leasehold Owner's Policy", "Other"]), {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type_of_title, "Type of Title: " %>
    <%= f.select :type_of_title, options_for_select(["Fee Simple", "Leasehold", "Other"]), {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lender_name, class: "form-control", placeholder: "Lender Name" %>
  </div>
  <div class="form-group">
    <%= f.label :type_of_loan, "Type of Loan: " %>
    <%= f.select :type_of_loan, options_for_select(["Conventional","FHA","VA", "Temporary Construction", "Permanent Construciton"]), {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :loan_number, class: "form-control", placeholder: "Loan Number" %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
        <%= f.number_field :loan_amount, class: "form-control", placeholder: "Loan Amount" %>
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <div class="form-group">
    <%= f.number_field :variable_loan_coverage, class: "form-control", placeholder: "Variable Loan Coverage" %>
  </div>
  <div class="form-group">
    <%= f.label :type_of_loan_policy, "Type of Loan Policy: " %>
    <%= f.select :type_of_loan_policy, options_for_select(["ALTA Loan Policy", "Short Form Policy", "Leasehold Loan Policy", "Other"]), {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :icl_requested, "ICL Requested? " %>
    <%= f.select :icl_requested, options_for_select(["Yes", "No"]), {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :alta_endorsement, class: "form-control", placeholder: "ALTA Endorsements Requested" %>
  </div>
  <div class="cant-see-me">
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-lg" %>
  </div><br />
<% end %>
